
<!-- one way binding 
     <textarea rows="6" [value]="newPost" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save post</button>
<p>{{newPost}}</p> -->

<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input  matInput 
             name ="title" ngModel required
             #title ="ngModel">
             <mat-error *ngIf="title.invalid">Please enter title</mat-error>
           
        </mat-form-field>
        <mat-form-field>
        <textarea  matInput rows="6"  
        name="content" ngModel required
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter content</mat-error>
       
        </mat-form-field>
        <button mat-button color="accent" type="submit">Save post</button>
    
    </form>
   </mat-card>


