
<!-- one way binding 
     <textarea rows="6" [value]="newPost" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save post</button>
<p>{{newPost}}</p> -->

<mat-card>
    <mat-form-field>
        <input  matInput placeholder ="Post title" [(ngModel)]="enteredTitle">
       
    </mat-form-field>
    <mat-form-field>
    <textarea  matInput rows="6"  placeholder ="Post content" [(ngModel)]="enteredContent"></textarea>
   
    </mat-form-field>
    <button mat-button color="accent" (click)="onAddPost()">Save post</button>
</mat-card>


